<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

    <div class="jumbotron">
        <h1 class="text-center">Welcome to PA5A Server</h1>
        <h2 class="text-center">Website in construction ...</h2>
        <div class="text-center mt-2">
            This project has been made for educationnal purpose only.<br>
            No victim has been hacked without any permission.<br><br>
            The goal was to learn how to develop a malware for Windows and how to use the Windows API to get info from the targeted machine.<br>
            The other goal was to setup a server to receive exfiltrated data and build a website to consult them.<br>
            The website is also use as a Command & Control server, we can send command to the targeted machine and ask for a reverse shell openning.<br><br>
            This project can be upgraded to add functionnalities on the website and/or on the malware.
        </div>
    </div>

<%- include('../partials/footer'); %>