<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

    <div class="container-fluid">
        <div class="text-center">
            Dashboards
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h3 class="text-center">Dash 1 : Number of Victims</h3>
            </div>
            <div class="card-body">
                <canvas id="dashboard">
        
                </canvas>
            </div>
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h3 class="text-center">Dash 2 : Number of Logs</h3>
            </div>
            <div class="card-body">
                blablabla
            </div>
        </div>

        <div class="card text-center mt-5 mb-5">
            <div class="card-header">
                <h3 class="text-center">Dash 3 : Number of Screenshots</h3>
            </div>
            <div class="card-body">
                blablabla
            </div>
        </div>
    </div>

<%- include('../partials/footer'); %>