<%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>

        <div class="jumbotron">
            <h1 class="text-center">Welcome to PA5A Server</h1>
            <h2 class="text-center">Website in construction ...</h2>
        </div>

<%- include('../partials/footer'); %>