<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

    <div class="container-fluid">
        
        <div class="card text-center mt-5">
            <div class="card-header bg-dark">
                <div class="row justify-content-around font-weight-bold">
                    <div class="col-3 text-center" style="color: rgb(255, 99, 132)">
                        <div>Clients</div>
                        <div id="nb_clients"></div>
                    </div>
                    <div class="col-3 text-center" style="color: rgb(76, 165, 255)">
                        <div>Keylogs</div>
                        <div id="nb_logs"></div>
                    </div>
                    <div class="col-3 text-center" style="color: rgb(255, 199, 0)">
                        <div>Screenshots</div>
                        <div id="nb_screens"></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="dashboard">
        
                </canvas>
            </div>
        </div>

    </div>

    <script>
        // Place correct number to match the dates array
        function getData(element, dates) {
            
            let data = new Array(dates.length)
            data.fill(0)

            for (let item in element) {
                if (dates.includes(element[item].date)) {
                    data.splice(dates.indexOf(element[item].date), 1, parseInt(element[item].nb))
                }
            }

            return data
        }
        
        $.post('/api/dashboard', {}, function(res) {
            
            // Extract all the dates into an Array sorted (alphabetic) and without any doublon
            let dates = new Array()
            
            for (let element in res) {
                for (let item in res[element]) {
                    if (!dates.includes(res[element][item].date)) {
                        dates.push(res[element][item].date)
                    }
                }
            }

            dates.sort()

            
            // Loading total values into the page
            const reducer = (accumulator, currentValue) => accumulator + currentValue;

            $('#nb_clients').html(getData(res.clients, dates).reduce(reducer))
            $('#nb_logs').html(getData(res.keylogs, dates).reduce(reducer))
            $('#nb_screens').html(getData(res.screenshots, dates).reduce(reducer))


            // Creation of the chart of the dashboard
            const ctx = document.getElementById('dashboard').getContext('2d');

            const data = {
                labels: dates,
                datasets: [{
                    label: 'Clients',
                    data: getData(res.clients, dates),
                    backgroundColor: 'rgba(255, 99, 132, 0.1)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 3
                }, {
                    label: 'Keylogs',
                    data: getData(res.keylogs, dates),
                    backgroundColor: 'rgba(76, 165, 255, 0.1)',
                    borderColor: 'rgb(76, 165, 255)',
                    borderWidth: 3
                }, {
                    label: 'Screenshots',
                    data: getData(res.screenshots, dates),
                    backgroundColor: 'rgba(255, 199, 0, 0.1)',
                    borderColor: 'rgb(255, 199, 0)',
                    borderWidth: 3
                }]
            };

            const options = {};

            const config = {
                type: 'bar',
                data: data,
                options: options
            };

            const dashboard = new Chart(ctx, config);

        });
    </script>

<%- include('../partials/footer'); %>