<!DOCTYPE html>
<html>

<!-- message form -->
<form name="publish">
    <input type="text" name="message">
    <input type="submit" value="Send">
</form>

<!-- div with messages -->
<div id="messages"></div>

<script type="text/javascript">
    window.onload = function ws_to_back() {

        let ws = null

        try {
            const uuid = window.location.pathname.split('/')[4]
            ws = new WebSocket("wss://pa5a.cyberfilou.fr/rsfront?" + uuid)
        } catch (exception) {
            console.error(exception)
        }

        ws.onopen = function (event) {

            console.log("[OPEN] Connection established")
            console.log("Sending to server")

        }

        document.forms.publish.onsubmit = function () {
            let outgoingMessage = this.message.value

            ws.send(outgoingMessage)
            return false
        }



        ws.onmessage = function (event) {
            console.log(`[command] Data received from server: ${event.data}`);

            let message = event.data

            let messageElem = document.createElement('div');
            messageElem.textContent = message;
            document.getElementById('messages').prepend(messageElem);

        }


        ws.onclose = function (event) {
            if (event.wasClean) {
                console.log(`[CLOSE] Connection closed, code=${event.code} reason=${event.reason}`)
            }
            else {
                console.log('[CLOSE] Connection died');
            }
        }

        ws.onerror = function (error) {
            console.log(`[ERROR] ${error.message}`)
        }
    }

</script>

<%- include('../partials/footer'); %>