body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 10px 40px 40px 40px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

input[type="text"] {
    width: 85%;
}

input[type="submit"] {
    width: 10%;
}

#messages {
    /*margin:0%;
    position:fixed;
    width: 96%;
    overflow-y: scroll;
    max-height: 100%;*/
    background-color: black;
    color: chartreuse;
    height: 80%;
    line-height: 1em;
}

#commands-sender {
    position: bottom;
}
