<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <img src="/static/img/botnet_logo.png" alt="Logo">
        </div>
        
        <% 
            const year = connectedUser.lastLogin.getFullYear()
            const month = (connectedUser.lastLogin.getMonth() < 9 ? '0' : '') + (connectedUser.lastLogin.getMonth() + 1)
            const day = connectedUser.lastLogin.getDate()
            const hours = (connectedUser.lastLogin.getHours() < 9 ? '0' : '') + (connectedUser.lastLogin.getHours())
            const minutes = (connectedUser.lastLogin.getMinutes() < 9 ? '0' : '') + (connectedUser.lastLogin.getMinutes()) 
            const lastLogin = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes
        %>
        <div class="text-center">
            Connected as <b><%- encodeForHtml(connectedUser.username) %></b><br>
            Last login : <b><%- encodeForHtml(lastLogin) %></b>
        </div>
        
        <ul class="list-unstyled components">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/app/victims">Victims</a>
            </li>
            <li>
                <a href="/app/about">About</a>
            </li>
            <li>
                <a href='#' class="nav-item nav-link">View profile (not yet)</a>
            </li>
            <li>
                <a href='/app/logout' class="nav-item nav-link">Logout</a>
            </li>
        </ul>

        <div class="sidebar-footer text-center font-italic">
            <p>© Copyright 2021 | PA5A</p>
        </div>
    </nav>
</div>

<!-- Page Content -->
<div id="content">

    <div id="displaySidebar" class="container-fluid text-center">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>Display/Hide Menu</span>
        </button>
    </div>
